body
{
background: url('https://cdn.pixabay.com/photo/2014/06/16/23/40/blue-370127_960_720.png');
}

h1
{
  color: #FF0000
}

p
{
  color: #0fd108
}

.joy
{
  color: #FF9999;
}
ul
{
  color: #f7f307
}
